p{
    color: #87bdff;
}
.box{
    width: 22%;
    background:orange ;
    padding: 20px;
    border: 10px solid;
    margin-left: 5px;
    float: right;
    padding-bottom: 18%;
    border-radius: 12%;

    margin-top: 5px;
}