p{
    color: #87bdff;
}
.box{
    width: 26%;
    background:orange ;
    padding: 23px;
    margin-left: 5px;
    float: left;
    padding-bottom: 26%;
    border-radius: 12%;

    margin-top: 12px;
}